body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  font-family: "Dokdo", cursive;
  background-image: url(https://okta-numberguessing-game.netlify.app/image/soju.jpeg);
}

.container {
  border: 10px solid white;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(247, 243, 242, 0.7);
}

.pre-title {
  font-size: 4vw;
  font-weight: bold;
  color: goldenrod;
}

.title {
  font-size: 4vw;
  font-weight: bold;
}

.sub-title {
  font-size: 5vw;
  font-weight: bold;
}

.red-text {
  color: red;
}

.main-img {
  width: 30vw;
  height: 30vh;
}

.button-style {
  height: 80px;
  width: 100px;
  margin-top: 5px;
  border-radius: 50px;
  font-size: 30pt;
  font-weight: bold;
  background-color: rgb(245, 73, 43);
  color: black;
}

.form-control {
  height: 80px;
  font-size: 3vw;
  margin-right: 20px;
  text-align: center;
}

@media screen and (max-width: 48rem) {
  .pre-title {
    font-size: 10vw;
  }
  .title {
    font-size: 12vw;
  }
  .sub-title {
    font-size: 11vw;
  }
  .form-control {
    font-size: 8vw;
    max-width: 500px;
    margin-right: 0px;
  }
  .main-img {
    width: 40vw;
  }
  .button-reset {
    font-size: 5vw;
    width: 80px;
    height: 60px;
  }
}
